// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

nav {
    width: 100%;
    display: flex;
}

ul li.nav-link.active a {
    color: rgb(19, 138, 39);
    font-weight: 600;
}

.error {
    color: red;
    font-size: 12px;
}

.h-screen {
    height: 100vh;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    z-index: 999;
}
